*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Sora";
  box-sizing: border-box;
}
*::selection {
  background-color: var(--green);
  color: var(--white);
}

:root {
  --clr-blue: rgb(165, 206, 241);
  --clr-light-blue: rgba(165, 206, 241, 0.7);
  --clr-green: rgb(13, 44, 18);
  --clr-light-green: #0a6e0ae3;
  --clr-dark: #1b1b1b;
  --clr-gold: gold;

  --green: #00645a;
  --grey: rgb(204,195,196);
  --gold: rgb(236,188,0);
  --white: whitesmoke;
  --black: #1b1b1b;
  --clr1: teal;
  --clr2: darkslateblue;
  --skyblue: #80d4dd;
  --grad: linear-gradient(to bottom left, var(--clr1), var(--clr2));
  --grad2: linear-gradient(to top right, var(--clr1), var(--clr2));
}

.clr-blue {
  color: var(--white);
}

.clr-skyblue {
  color: var(--skyblue);
}

.clr-light-blue {
  color: var(--clr-light-blue);
}

.clr-green {
  color: var(--green);
}

.clr-light-green {
  color: var(--green);
}

.clr-gold {
  color: var(--gold);
}

.clr-grey {
  color: var(--grey);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-light-blue {
  background-color: var(--clr-light-blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--clr-light-green);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-gold {
  background-color: var(--clr-gold);
}

.bg-grey {
  background-color: var(--grey);
}


#map {
  height: 100%;
}

.banner {
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.bg {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.menu-items::before {
  content: "";
  position: relative;
  background: whitesmoke;
  height: 1px;
  width: calc(100% - 5rem);
}
.menu-items li {
  cursor: pointer;
  width: 75%;
  padding: 5%;
  text-align: center;
}

.menu-items li:hover {
  border: 1px solid var(--gold);
  border-left: 5px solid var(--clr-gold);
  border-right: 5px solid var(--clr-gold);
  background-image: var(--grad2);
}

.menu-items li a {
  color: var(--white);
  font-size: larger;
  font-weight: 500;
}

.menu-items li:hover a {
  color: var(--gold);
}

#banner-img img {
  position: absolute;
  top: 45%;
}

#content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 53%;
  width: 28%;
}

#content-title {
  font-size: 26px;
  font-weight: bold;
  line-height: 2;
}

#content-text {
  line-height: 3;
}

.achievements {
  /* border: 1px solid var(--clr-light-green); */
  padding: 5%;
  background-color: var(--grey);
}

.achievements span {
  font-size: 65px;
  color: var(--green);
}

.achievements:hover {
  background-color: var(--green);
  /* border: 1px solid var(--clr-gold); */
  color: var(--white);
}

.achievements:hover span {
  color: var(--grey);
}

.custom-btn {
  /* border: 2px solid var(--clr-light-green); */
  padding: 15px 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  background-color: var(--gold);
  border-radius: 5px;
  position: relative;
}

.custom-btn:hover {
  border: 2px solid var(--gold);
  color: var(--gold);
  background-image: var(--grad2);
}

.btn-leftBorder::before {
  content:"";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.25rem;
  min-width: 1.25rem;
  height: 2px;
  background: var(--gold);
}

.btn-rightBorder::after {
  content:"";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.25rem;
  min-width: 1.25rem;
  height: 2px;
  background: var(--gold);
}

.mission-text {
  text-indent: 4em;
}

.custom-link {
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  transition: ease 0.5s;
}

.custom-link:hover, .active {
  color: var(--green);
  background-color: var(--grey);
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.navLinks {
  bottom: 13%;
  width: fit-content; 
  transform: skewY(-6.5deg);
}

.about-container {
  position: absolute;
  top: 5%;
  height: 73%;
  padding-top: 15%;
  transform: skewY(-6.5deg);
}

.about-container .container {
  transform: skewY(6.5deg);
}


.contact-container {
  position: absolute;
  padding-top: 32%;
  height: 77%;
  width: 100%;
}




@media screen and (min-width: 280px) {
  .navLinks {
    bottom: 14%;
  }
  .navLinks div :last-of-type {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .navLinks {
    bottom: 14%;
  }
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 375px) {
  .contact-container{
    padding-top: 25%;
  }
}


@media screen and (min-width: 411px) {
  .navLinks div :last-of-type {
    display: block;
  }
  .contact-us{
    display: none;
  }
  .about-container {
    padding-top: 10%;
  }
}

@media screen and (min-width: 540px) {
}

@media screen and (min-width: 768px) {
  .about-container {
    padding-top: 7%;
  }
  .contact-container {
    padding-top: 10%;
  }
  .map-box {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .navLinks {
    bottom: 14%;
  }
  .about-container {
    padding-top: 4%;
  }
}

@media screen and (min-width: 1440px) {
  .navLinks {
    bottom: 12%;
  }
  .contact-container {
    padding-top: 5%;
  }
}

@media screen and (min-width: 2560px) {
  .navLinks {
    bottom: 13%;
  }
  .about-container {
    padding-top: 4%;
  }
}
