*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates";
  box-sizing: border-box;
}

:root {
  --clr-blue: rgb(165, 206, 241);
  --clr-light-blue: rgba(165, 206, 241, 0.7);
  --clr-green: rgb(13, 44, 18);
  --clr-light-green: #0a6e0ae3;
  --clr-gold: gold;
}

.clr-blue {
  color: var(--clr-blue);
}

.clr-light-blue {
  color: var(--clr-light-blue);
}

.clr-green {
  color: var(--clr-green);
}

.clr-light-green {
  color: var(--clr-light-green);
}

.clr-gold {
  color: var(--clr-gold);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-light-blue {
  background-color: var(--clr-light-blue);
}

.bg-green {
  background-color: var(--clr-green);
}

.bg-light-green {
  background-color: var(--clr-light-green);
}

.bg-gold {
  background-color: var(--clr-gold);
}

.banner {
  background-image: url(./images/exotic-night.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.menu-items::before {
  content: "";
  position: relative;
  background: whitesmoke;
  height: 1px;
  width: calc(100% - 5rem);
}
.menu-items li {
  cursor: pointer;
  width: 75%;
  padding: 5%;
  text-align: center;
}

.menu-items li:hover {
  border: 1px solid var(--clr-gold);
  border-left: 5px solid var(--clr-gold);
  color: var(--clr-gold);
  background-color: var(--clr-green);
}

.menu-items li a {
  color: var(--clr-blue);
  font-size: larger;
  font-weight: 500;
}

.menu-items li a:hover {
  color: white;
  font-size: larger;
  font-weight: 500;
}

#banner-img img {
  position: absolute;
  top: 45%;
}

#content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 53%;
  width: 28%;
}

#content-title {
  font-size: 26px;
  font-weight: bold;
  line-height: 2;
}

#content-text {
  line-height: 3;
}

@media (max-width: 1280px) {
  #content {
    width: 30%;
    left: 54%;
  }
}

@media (max-width: 1024px) {
  #banner-image img {
    width: 400px;
  }
  #content {
    left: 47%;
    width: 37%;
  }
}

@media (max-width: 768px) {
  #content {
    left: 33%;
    top: 48%;
    width: 50%;
  }
  #content-title {
    font-size: x-large;
    margin-bottom: -10px;
  }
  #content-text {
    font-size: 19px;
    width: 80%;
    margin-left: 10%;
    line-height: 2;
  }
}

@media (max-width: 540px) {
  #content {
    top: 49%;
    left: 8%;
    width: 71%;
  }
  #content-text {
    line-height: 2;
  }
}

@media (max-width: 425px) {
  #banner-img img {
    width: 350px;
  }
  #content {
    top: 48%;
    left: 9%;
    width: 71%;
  }
  #content-title {
    font-size: larger;
  }
  #content-text {
    font-size: medium;
    line-height: 25px;
  }
}

@media (max-width: 375px) {
  #banner-img img {
    width: 300px;
  }
  #content {
    top: 48%;
    left: 9%;
    width: 69%;
  }
  #content-title {
    font-size: large;
  }
  #content-text {
    margin-top: -10px;
    font-size: 15px;
    line-height: normal;
  }
}

@media (max-width: 360px) {
  #content {
    width: 70%;
  }
  #content-text {
    margin-top: -10px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
    .offcanvas-title {
        font-size: large;
    }
  #banner-img img {
    width: 275px;
  }
  #content {
    width: 72%;
  }
  #content-title {
    font-size: 15px;
    margin-bottom: -15px;
  }
  #content-text {
    font-size: small;
    line-height: normal;
  }
}

@media (max-width: 280px) {
  .offcanvas-title {
      font-size: 14px;
  }
  #banner-img img {
    width: 250px;
  }
  #content {
    top: 47%;
    left: 9%;
    width: 83%;
  }
  #content-title {
    font-size: medium;
  }
  #content-text {
    line-height: normal;
  }
}
